@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Contact Information</h2>

<!--Navbar for links-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Jacob's Portfolio</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Home/Index">Home</a></li>
            <li><a href="/Skills/Index">Skills</a></li>
            <li><a href="/Projects/Index">Projects</a></li>
            <li><a href="/Contacts/Index">Contact</a></li>
        </ul>
    </div>
</nav>

<p>Phone Number: (216) 659-4779</p>
<p>Email: JLockyerFit24@gmail.com</p>
<p>LinkedIn: https://www.linkedin.com/in/jacob-lockyer-49a75611 </p>
<p>GitHub: https://github.com/JLockyer </p>
