@{
    ViewBag.Title = "Home Page";
}
<!--Navbar for the different links-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Jacob's Portfolio</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Home/Index">Home</a></li>
            <li><a href="/Skills/Index">Skills</a></li>
            <li><a href="/Projects/Index">Projects</a></li>
            <li><a href="/Contacts/Index">Contact</a></li>
        </ul>
    </div>
</nav>

<!--Jumbotron that holds my picture and about me section-->
<div class="jumbotron">
    <h1>About Me</h1>
    <p class="lead"><img src="~/Images/11026267_10203797215129807_8669692930300438738_n.jpg" width="250" height="300" align="left" />My name is Jacob Lockyer, I was born and raised in Cleveland, Ohio. I graduated high school from St. Edward High School, where i participated in many activities and clubs.
    Some of what I did there were things such as; Cross Country, Lacrosse, Rugby, Robotics Club and went through all three years of the Pre-Engineering classes. Later on a few years later I attempted to join the U.S. Navy
    attempting to follow in my father's footsteps, but unfortunately three weeks before my bootcamp division graduated I was medically seperated. Now, I work fulltime and have attended an amazing coding bootcamp, where now
    I am graduating with a certification in Software Engineering. I am hoping to continue my story with an amazing company where I can continue to learn and grow!</p>
</div>

<!--A well and thumbnails that contains my interests-->

<div class="well">Personal Interets</div>
<div class="row">
    <div class="col-md-4">
        <h2>Working Out</h2>
        <p>I have a big interest in working out. It takes me to a place to let my mind and body become centered with each other. The feel of the iron and the weight takes all of my cares away. This helps me to later
        become more focused on what i need to do. I also have a certificaton as a personal trainer.</p>
        <img src="~/Images/vsm-gym-1280x720.jpg" width="450" height="300"/>
    </div>
    <div class="col-md-4">
        <h2>Rugby</h2>
        <p>I love rugby, it was unlike any sport I have played. The sheer brute force and techniques it takes to play the game is challenging. It's less restrictive with the rules of game play and you grow as a family 
        with your teammates on and off the pitch. </p>
        <img src="~/Images/_85722759_cpki_ukxaaaassz-1.jpg" width="450" height="300" />
    </div>
    <div class="col-md-4">
        <h2>Coding</h2>
        <p>Not only is this a furture job, but it's also a personal interest of mine. I started learning a little bit on my own, but wanted to grasp more of a knowledge and understanding of it. I find myself thinking
        of ideas, programs, apps, and websites I want to create. I have a drive and desire to learn and keep learning so i can create amazing things!</p>
        <img src="~/Images/images.jpg" width="450" height="300"/>
    </div>
</div>